html,
body,
section,
header,
main,
footer,
p,
span,
input,
button {
    margin: 0;
    border: 0;
    padding: 0;
    background: none;
}

@font-face {
    font-family: 'Electrolize';
    src: url('../fonts/Electrolize-Regular.ttf');
}

p,
span {
    font-family: 'Electrolize';
    font-style: normal;
    font-weight: 400;
}

section {
    height: 100%;

    padding: 0 10%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

header {
    width: 100%;
    height: 120px;

    padding: 15px 0;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

#header_sys_info {
    height: 100%;

    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-direction: column;
}

#header_menu {
    width: 70px;
    height: 70px;

    border-radius: 25px;

    -webkit-mask-image: url('../img/menu.svg');
    mask-image: url('../img/menu.svg');
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: -15px;

    transition: 0.2s linear;
}

#header_title{
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#wrapper_menu{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.wrapper {
    height: 300px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;

    gap: 50px;
}

.mid_line {
    height: 90%;
    width: 3px;
}

.tb_box {
    height: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
}

form {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
}

div>form {
    gap: 15px;
}

input {
    border-radius: 10px;
    padding: 10px;
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    /* Opera/IE 8+ */

    font-family: 'Electrolize';
    font-style: normal;
    font-weight: 400;
}

button {
    border-radius: 10px;
    padding: 5px 15px;
    cursor: pointer;
}

input:focus {
    outline: none !important;
    box-shadow: 0 0 0 none;
}

._input {
    width: 250px;
    height: 40px;
}

._output {
    width: 25%;
    height: 25%;
}

.p_title,
.p_text,
.p_secondary {
    font-size: 38px;
}

#p_time{
    width: 100px;
}

.p_text_sm,
.p_text_btn {
    font-size: 21px;
}

.p_text_sm {
    width: 250px;
    height: 229px;

    margin: 0 20px;

    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

#wrapper_title{
    margin-bottom: 25px;
}

.p_sys {
    font-size: 24px;
}

.p_sp_text {
    margin-bottom: 20px;
}

footer {
    width: 100%;

    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
}

.menu_line{
    width: 70px;
    height: 5px;
    margin: 5px 0;

    transition: 0.2s linear;
}

.p_dp_status{
    width: 300px;
}

.p_dp_response{
    width: unset;
}